{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/post-6.css' %}">

<div class="elementor-element elementor-element-e89fb3a e-flex e-con-boxed e-con e-parent e-lazyloaded"
    data-id="e89fb3a" data-element_type="container" data-e-type="container">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-8c6f73c e-con-full e-flex e-con e-child" data-id="8c6f73c"
            data-element_type="container" data-e-type="container">
            <div class="elementor-element elementor-element-b9e0139 elementor-widget elementor-widget-heading"
                data-id="b9e0139" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">We are excited to connect with you and
                        assist you with your real estate needs</h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-0c0af69 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="0c0af69" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
                <div class="elementor-widget-container">
                    <div class="elementor-divider">
                        <span class="elementor-divider-separator">
                        </span>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-3211830 elementor-widget elementor-widget-image-box"
                data-id="3211830" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <div class="elementor-image-box-content">
                            <h6 class="elementor-image-box-title">Phone</h6>
                            <p class="elementor-image-box-description">P: 555-1234-678</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-7a4d434 elementor-widget elementor-widget-image-box"
                data-id="7a4d434" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <div class="elementor-image-box-content">
                            <h6 class="elementor-image-box-title">Email</h6>
                            <p class="elementor-image-box-description">contact@info.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-02b13cd elementor-widget elementor-widget-image-box"
                data-id="02b13cd" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <div class="elementor-image-box-content">
                            <h6 class="elementor-image-box-title">Address</h6>
                            <p class="elementor-image-box-description">A: 13 Fifth Avenue, New York, NY 101660</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-f97e9f3 e-con-full e-flex e-con e-child" data-id="f97e9f3"
            data-element_type="container" data-e-type="container"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-element elementor-element-2d26822 elementor-widget elementor-widget-heading"
                data-id="2d26822" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h6 class="elementor-heading-title elementor-size-default">Contact Us</h6>
                </div>
            </div>
            <div class="elementor-element elementor-element-45dab7b elementor-widget elementor-widget-heading"
                data-id="45dab7b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h3 class="elementor-heading-title elementor-size-default">Reach Out To Us</h3>
                </div>
            </div>
            <div class="elementor-element elementor-element-7e23f22 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="7e23f22" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
                <div class="elementor-widget-container">
                    <div class="elementor-divider">
                        <span class="elementor-divider-separator">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="elementor-element elementor-element-c58397d e-flex e-con-boxed e-con e-parent e-lazyloaded"
    data-id="c58397d" data-element_type="container" data-e-type="container">
    <div class="e-con-inner">
        <div class="elementor-element elementor-element-c48b190 elementor-widget elementor-widget-google_maps"
            data-id="c48b190" data-element_type="widget" data-e-type="widget" data-widget_type="google_maps.default">
            <div class="elementor-widget-container">
                <div class="elementor-custom-embed">
                    <iframe loading="lazy"
                        src="https://maps.google.com/maps?q=Brainstorm%20Force&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near"
                        title="Brainstorm Force" aria-label="Brainstorm Force"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}