{% extends "app/layout.html" %}
{% block content %}


<div class="elementor-element elementor-element-b76fb0e e-con-full e-flex e-con e-parent e-lazyloaded" data-id="b76fb0e"
    data-element_type="container" data-e-type="container">
    <div class="elementor-element elementor-element-ad4ad4b e-flex e-con-boxed e-con e-child" data-id="ad4ad4b"
        data-element_type="container" data-e-type="container"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-1fba1c0 elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
                data-id="1fba1c0" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">What
                        We Do</h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-9d0ae85 elementor-widget elementor-widget-heading"
                data-id="9d0ae85" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <p class="elementor-heading-title elementor-size-default">
                        Simplifying the journey of buying, selling, and renting
                        properties. Our expert team provides comprehensive real
                        estate solutions tailored to your needs</p>
                </div>
            </div>
            <div class="elementor-element elementor-element-94cd2e2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="94cd2e2" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
                <div class="elementor-widget-container">
                    <div class="elementor-divider">
                        <span class="elementor-divider-separator">
                        </span>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-0ebff3e e-con-full e-flex e-con e-child" data-id="0ebff3e"
                data-element_type="container" data-e-type="container">
                <div class="elementor-element elementor-element-d3fed14 e-con-full e-flex e-con e-child"
                    data-id="d3fed14" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-5e76b90 elementor-widget elementor-widget-heading"
                        data-id="5e76b90" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">
                                01</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2d765d4 elementor-widget elementor-widget-image-box"
                        data-id="2d765d4" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <div class="elementor-image-box-content">
                                    <h4 class="elementor-image-box-title">Property
                                        Sales</h4>
                                    <p class="elementor-image-box-description">Find
                                        your dream home with Popote Listings - our
                                        expert team will guide you through the
                                        process and ensure a smooth transaction.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-a188445 e-con-full e-flex e-con e-child"
                    data-id="a188445" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-e39a31c elementor-widget elementor-widget-heading"
                        data-id="e39a31c" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">
                                02</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-f546d36 elementor-widget elementor-widget-image-box"
                        data-id="f546d36" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <div class="elementor-image-box-content">
                                    <h4 class="elementor-image-box-title">Property
                                        Rentals</h4>
                                    <p class="elementor-image-box-description">Find
                                        your dream rental property with Popote Listings,
                                        offering a variety of options to suit your
                                        needs and preferences.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-e03aeee e-con-full e-flex e-con e-child"
                    data-id="e03aeee" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-00cd950 elementor-widget elementor-widget-heading"
                        data-id="00cd950" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">
                                03</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-177391e elementor-widget elementor-widget-image-box"
                        data-id="177391e" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <div class="elementor-image-box-content">
                                    <h4 class="elementor-image-box-title">Property
                                        Management</h4>
                                    <p class="elementor-image-box-description">Trust
                                        Popote Listings to handle the day-to-day
                                        management of your property, maximizing its
                                        value and minimizing your stress.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-8f62544 e-con-full e-flex e-con e-child"
                    data-id="8f62544" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-d1d8458 elementor-widget elementor-widget-heading"
                        data-id="d1d8458" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">
                                04</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3f94f08 elementor-widget elementor-widget-image-box"
                        data-id="3f94f08" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <div class="elementor-image-box-content">
                                    <h4 class="elementor-image-box-title">Lucrative
                                        Investments</h4>
                                    <p class="elementor-image-box-description">Real
                                        Estate presents lucrative investment
                                        opportunities in the real estate market,
                                        providing high returns on investments.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="elementor-element elementor-element-04c8480 e-con-full e-flex e-con e-parent e-lazyloaded" data-id="04c8480"
    data-element_type="container" data-e-type="container">
    <div class="elementor-element elementor-element-baa9e35 e-flex e-con-boxed e-con e-child" data-id="baa9e35"
        data-element_type="container" data-e-type="container">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-af8cb0f elementor-widget elementor-widget-heading"
                data-id="af8cb0f" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">
                        Featured Properties</h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-486ed51 elementor-widget elementor-widget-heading"
                data-id="486ed51" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <p class="elementor-heading-title elementor-size-default">
                        Discover our hand-picked selection of top-notch properties
                        with outstanding features, guaranteed to meet your real
                        estate needs and exceed your expectations.</p>
                </div>
            </div>
            <div class="elementor-element elementor-element-f151475 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="f151475" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
                <div class="elementor-widget-container">
                    <div class="elementor-divider">
                        <span class="elementor-divider-separator">
                        </span>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-1bb2b83 e-con-full e-flex e-con e-child" data-id="1bb2b83"
                data-element_type="container" data-e-type="container">
                <div class="elementor-element elementor-element-6b3eb03 e-con-full e-flex e-con e-child"
                    data-id="6b3eb03" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-453e6a6 elementor-widget elementor-widget-image"
                        data-id="453e6a6" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img fetchpriority="high" decoding="async" width="590" height="350"
                                src="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-01.jpg"
                                class="attachment-large size-large wp-image-287" alt=""
                                srcset="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-01.jpg 590w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-01-300x178.jpg 300w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-01-400x237.jpg 400w"
                                sizes="(max-width: 590px) 100vw, 590px">
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-c6231e8 elementor-widget elementor-widget-heading"
                        data-id="c6231e8" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">
                                Apartment - Queens</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2ad838d elementor-widget elementor-widget-image-box"
                        data-id="2ad838d" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <div class="elementor-image-box-content">
                                    <h5 class="elementor-image-box-title">Modern
                                        Stylish Apartment</h5>
                                    <p class="elementor-image-box-description">
                                        Discover the epitome of contemporary living
                                        in our sleek and chic modern stylish
                                        apartments.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-028d0dd elementor-widget elementor-widget-heading"
                        data-id="028d0dd" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">
                                $150,000</p>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-780251f e-con-full e-flex e-con e-child"
                    data-id="780251f" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-308b2bf elementor-widget elementor-widget-image"
                        data-id="308b2bf" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="590" height="350"
                                src="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-02.jpg"
                                class="attachment-large size-large wp-image-288" alt=""
                                srcset="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-02.jpg 590w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-02-300x178.jpg 300w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-02-400x237.jpg 400w"
                                sizes="(max-width: 590px) 100vw, 590px">
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-6767905 elementor-widget elementor-widget-heading"
                        data-id="6767905" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">
                                Apartment - Queens</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-5275420 elementor-widget elementor-widget-image-box"
                        data-id="5275420" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <div class="elementor-image-box-content">
                                    <h5 class="elementor-image-box-title">
                                        Contemporary Apartments</h5>
                                    <p class="elementor-image-box-description">
                                        Experience the perfect blend of
                                        sophistication and urban living in our
                                        cutting-edge contemporary apartments.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7fc28e9 elementor-widget elementor-widget-heading"
                        data-id="7fc28e9" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">
                                $150,000</p>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-bcdacee e-con-full e-flex e-con e-child"
                    data-id="bcdacee" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-261ed05 elementor-widget elementor-widget-image"
                        data-id="261ed05" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="590" height="350"
                                src="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-03.jpg"
                                class="attachment-large size-large wp-image-289" alt=""
                                srcset="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-03.jpg 590w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-03-300x178.jpg 300w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/feature-03-400x237.jpg 400w"
                                sizes="(max-width: 590px) 100vw, 590px">
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d245c09 elementor-widget elementor-widget-heading"
                        data-id="d245c09" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h6 class="elementor-heading-title elementor-size-default">
                                Apartment - Queens</h6>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-67b5672 elementor-widget elementor-widget-image-box"
                        data-id="67b5672" data-element_type="widget" data-e-type="widget"
                        data-widget_type="image-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-image-box-wrapper">
                                <div class="elementor-image-box-content">
                                    <h5 class="elementor-image-box-title">Suburban
                                        Single-Family Homes</h5>
                                    <p class="elementor-image-box-description">
                                        Embrace the idyllic charm and tranquility of
                                        suburban living in our spacious and
                                        welcoming single-family homes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d8901ad elementor-widget elementor-widget-heading"
                        data-id="d8901ad" data-element_type="widget" data-e-type="widget"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">
                                $150,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="elementor-element elementor-element-0abf9f3 e-con-full e-flex e-con e-parent e-lazyloaded" data-id="0abf9f3"
    data-element_type="container" data-e-type="container">
    <div class="elementor-element elementor-element-56ee636 e-flex e-con-boxed e-con e-child" data-id="56ee636"
        data-element_type="container" data-e-type="container"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-5a72f40 e-con-full e-flex e-con e-child" data-id="5a72f40"
                data-element_type="container" data-e-type="container">
                <div class="elementor-element elementor-element-97c98b2 elementor-view-default elementor-widget elementor-widget-icon"
                    data-id="97c98b2" data-element_type="widget" data-e-type="widget" data-widget_type="icon.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                                <svg aria-hidden="true" class="e-font-icon-svg e-fas-quote-right" viewBox="0 0 512 512"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-d73636b elementor-widget elementor-widget-heading"
                    data-id="d73636b" data-element_type="widget" data-e-type="widget"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">
                            Read from clients who have found the perfect place where
                            they can create...</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b9a95a1 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                    data-id="b9a95a1" data-element_type="widget" data-e-type="widget"
                    data-widget_type="divider.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-divider">
                            <span class="elementor-divider-separator">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-4f572c0 elementor-widget elementor-widget-heading"
                    data-id="4f572c0" data-element_type="widget" data-e-type="widget"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <p class="elementor-heading-title elementor-size-default">
                            Discover testimonials from satisfied clients who have
                            found their dream properties with Popote Listings, the
                            trusted experts in helping you find the perfect place to
                            call home.</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-a29d843 elementor-widget elementor-widget-button"
                    data-id="a29d843" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">More
                                        Testimonials</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-edea67c e-con-full e-flex e-con e-child" data-id="edea67c"
                data-element_type="container" data-e-type="container">
                <div class="elementor-element elementor-element-a3c1431 e-con-full e-flex e-con e-child"
                    data-id="a3c1431" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-a1e0c44 elementor-widget elementor-widget-rating"
                        data-id="a1e0c44" data-element_type="widget" data-e-type="widget"
                        data-widget_type="rating.default">
                        <div class="elementor-widget-container">
                            <div class="e-rating" itemtype="https://schema.org/Rating" itemscope=""
                                itemprop="reviewRating">
                                <meta itemprop="worstRating" content="0">
                                <meta itemprop="bestRating" content="5">
                                <div class="e-rating-wrapper" itemprop="ratingValue" content="5" role="img"
                                    aria-label="Rated 5 out of 5">
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0858d21 elementor-widget elementor-widget-testimonial"
                        data-id="0858d21" data-element_type="widget" data-e-type="widget"
                        data-widget_type="testimonial.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-testimonial-wrapper">
                                <div class="elementor-testimonial-content">“Lorem
                                    ipsum dolor sit amet, consectetur adipiscing
                                    elit. Mauris id convallis neque. Nam scelerisque
                                    placerat orci. Maecenas at pulvinar dui. In
                                    fermentum, lectus sed tincidunt ornare, arcu ex
                                    convallis sapien, quis vestibulum libero tellus
                                    quis nisl.”</div>

                                <div class="elementor-testimonial-meta">
                                    <div class="elementor-testimonial-meta-inner">

                                        <div class="elementor-testimonial-details">
                                            <div class="elementor-testimonial-name">
                                                James Oliver</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-3efcfc5 e-con-full e-flex e-con e-child"
                    data-id="3efcfc5" data-element_type="container" data-e-type="container">
                    <div class="elementor-element elementor-element-4e2aa1f elementor-widget elementor-widget-rating"
                        data-id="4e2aa1f" data-element_type="widget" data-e-type="widget"
                        data-widget_type="rating.default">
                        <div class="elementor-widget-container">
                            <div class="e-rating" itemtype="https://schema.org/Rating" itemscope=""
                                itemprop="reviewRating">
                                <meta itemprop="worstRating" content="0">
                                <meta itemprop="bestRating" content="5">
                                <div class="e-rating-wrapper" itemprop="ratingValue" content="5" role="img"
                                    aria-label="Rated 5 out of 5">
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="e-icon">
                                        <div class="e-icon-wrapper e-icon-marked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="e-icon-wrapper e-icon-unmarked">
                                            <svg aria-hidden="true" class="e-font-icon-svg e-eicon-star"
                                                viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-f2a01b0 elementor-widget elementor-widget-testimonial"
                        data-id="f2a01b0" data-element_type="widget" data-e-type="widget"
                        data-widget_type="testimonial.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-testimonial-wrapper">
                                <div class="elementor-testimonial-content">“Lorem
                                    ipsum dolor sit amet, consectetur adipiscing
                                    elit. Mauris id convallis neque. Nam scelerisque
                                    placerat orci. Maecenas at pulvinar dui. In
                                    fermentum, lectus sed tincidunt ornare, arcu ex
                                    convallis sapien, quis vestibulum libero tellus
                                    quis nisl.”</div>

                                <div class="elementor-testimonial-meta">
                                    <div class="elementor-testimonial-meta-inner">

                                        <div class="elementor-testimonial-details">
                                            <div class="elementor-testimonial-name">
                                                James Oliver</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="elementor-element elementor-element-e7c1ae7 e-con-full e-flex e-con e-parent e-lazyloaded" data-id="e7c1ae7"
    data-element_type="container" data-e-type="container">
    <div class="elementor-element elementor-element-837e947 e-flex e-con-boxed e-con e-child" data-id="837e947"
        data-element_type="container" data-e-type="container"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-1dc670f e-con-full e-flex e-con e-child" data-id="1dc670f"
                data-element_type="container" data-e-type="container">
                <div class="elementor-element elementor-element-87d31c3 elementor-widget elementor-widget-image"
                    data-id="87d31c3" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img loading="lazy" decoding="async" width="848" height="600"
                            src="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/connecting-with-customers.jpg"
                            class="attachment-large size-large wp-image-283" alt=""
                            srcset="https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/connecting-with-customers.jpg 848w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/connecting-with-customers-300x212.jpg 300w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/connecting-with-customers-768x543.jpg 768w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/connecting-with-customers-600x425.jpg 600w, https://websitedemos.net/real-estate-company-04/wp-content/uploads/sites/1484/2023/07/connecting-with-customers-400x283.jpg 400w"
                            sizes="(max-width: 848px) 100vw, 848px">
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-7783f7d e-con-full e-flex e-con e-child" data-id="7783f7d"
                data-element_type="container" data-e-type="container">
                <div class="elementor-element elementor-element-04e13be elementor-widget elementor-widget-heading"
                    data-id="04e13be" data-element_type="widget" data-e-type="widget"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">
                            Connecting people with perfect homes is our passion.
                        </h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-4fd2cc7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                    data-id="4fd2cc7" data-element_type="widget" data-e-type="widget"
                    data-widget_type="divider.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-divider">
                            <span class="elementor-divider-separator">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-0b4a02c elementor-widget elementor-widget-heading"
                    data-id="0b4a02c" data-element_type="widget" data-e-type="widget"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <p class="elementor-heading-title elementor-size-default">
                            With a genuine passion for helping people find their
                            dream homes, we are dedicated to connecting buyers and
                            sellers in the real estate market. Trust us to make your
                            home buying or selling experience seamless and
                            satisfying.</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-e3cd93f elementor-widget elementor-widget-button"
                    data-id="e3cd93f" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper">
                            <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Read
                                        More</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="elementor-element elementor-element-c925cf5 e-con-full e-flex e-con e-parent" data-id="c925cf5"
    data-element_type="container" data-e-type="container">
    <div class="elementor-element elementor-element-322f125 e-flex e-con-boxed e-con e-child" data-id="322f125"
        data-element_type="container" data-e-type="container"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-27a6a9b e-con-full e-flex e-con e-child" data-id="27a6a9b"
                data-element_type="container" data-e-type="container"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-element elementor-element-b9d3015 elementor-widget elementor-widget-heading"
                    data-id="b9d3015" data-element_type="widget" data-e-type="widget"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h6 class="elementor-heading-title elementor-size-default">
                            Contact Us</h6>
                    </div>
                </div>
                <div class="elementor-element elementor-element-7c0f83c elementor-widget elementor-widget-heading"
                    data-id="7c0f83c" data-element_type="widget" data-e-type="widget"
                    data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h3 class="elementor-heading-title elementor-size-default">
                            Schedule an Appointment</h3>
                    </div>
                </div>
                <div class="elementor-element elementor-element-4f0fdf1 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                    data-id="4f0fdf1" data-element_type="widget" data-e-type="widget"
                    data-widget_type="divider.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-divider">
                            <span class="elementor-divider-separator">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}